@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Roboto:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
}

.header1{
    background-color:#202E53;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 180px;
    padding: 3px 3%;
}

.header1 .logo{
    cursor: pointer;
    margin-right: 500px;
    height: 150px;
    transition: all 0.3s;
}

.header1 .logo:hover{
    transform: scale(1.2);
}

.header1 .nav-links{
    list-style-type: none;
}

.header1 .nav-links li{
    display: inline-block;
    padding: 0 11px;
}

.header1 .nav-links li:hover{
    transform: scale(1.2);
    transition: all 0.3s;
}

.header1 .nav-links a{
    font-size: 15px;
    color: aqua;
    text-decoration: none;
}

.carrito{
    cursor: pointer;
    width: 50px;
    height: px;
    transition: all 0.3s;
}

.carrito:hover{
    transform: scale(1.2);
}

.galak, .golfeados, .milhojas{
    width: 340px;
    height: 340px;
    border: 5px solid #94D4D6;
    border-radius: 5%;
}

.carrito-producto-imagen{
    width: 130px;
    height: 130px;
    border: 5px solid #94D4D6;
    border-radius: 5%;
}

.contenedor-productos{
    display: grid;
    justify-items:center;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
}

.producto-nombre{
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 28px;
    font-weight: bolder;
    color:#202E53;
    margin-top: 10px;
    margin-right: 15px;
}

.producto-tamaño{
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color:salmon;
    margin-top: 10px;
    margin-right: 15px;
}

.producto-precio{
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bolder;
    color:salmon;
    margin-top: 10px;
    margin-right: 15px;
}
.botones-galak, .botones-golfeados, .botones-milhojas{
   display: grid;
   justify-items: center;
   gap: 10px;
   grid-template-columns: 1fr;
   margin-top: 15px;
}

.btn-a{
    display: block;
    width: 180px;
    height: 50px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 600;
    border: 0;
    border-radius: 10px;
    border: 3px solid salmon;
    text-decoration: none;
    background-color:#94D4D6;
    color: blue;
    cursor: pointer;
}

.btn-a:hover{
    transform: scale(1.2);
    transition: all 0.3s;
}

.container{
    display: flex;
    justify-content: space-around;
    background-color: #202E53;
    color: salmon;
    margin-top: 50px;
}

.titulo-principal{
    color: #202E53;
    font-size: 28px;
    font-family: sans-serif;
    text-align: start;
    text-decoration: none;
    font-weight: bolder;
    margin-left: 50px;
    margin-top: 30px;

}

.carrito-vacio{
    color: salmon;
    display: none;
}

.carrito-comprado{
    color: salmon;
    display: none;
}

.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.carrito-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #94D4D6;
    color: salmon;
    border-radius: 1rem;
}

.carrito-producto small{
    font-size: 14px;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: #202E53;
    padding-right: 50px;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: #202E53;
    padding: 16px;
    border-radius: 1rem;
    color: white;
    text-transform: uppercase;
    margin-left: 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 550;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: aqua;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color:salmon;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 550;
    text-decoration: none;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: salmon;
    padding: 10px;
    color:#202E53;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 550;
    text-decoration: none;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.disabled {
    display: none;
}